<!DOCTYPE html>
<html lang="fr">


<head>
  <meta charset="utf-8">
  <title>Hangman - Team Absenteisme</title>
  <link rel="stylesheet" href="web/style.css">
</head>


<header>
  <form id="formlogoutstat" action="/logout" method="get">
    <input id="logoutstatistics" type="submit" value="logout" />
  </form>
  <form id="formlogoutstat" action="/statistics" method="get">
    <input id="logoutstatistics" type="submit" value="statistics" />
  </form>
  <form id="formlogoutstat" action="/scoreboard" method="get">
      <input id="logoutstatistics" type="submit" value="scoreboard" />
  </form>
</header>

<body>
  <h1>The Hangman</h1>

  <!-- once game is finished(if the number of tries is 0): {{ .GetGameToFind }} -->
  <div class="container">
    <div class="gauche">
      {{if eq .IsInGame true}}
      <div class="word">
        <p>{{ .GetGameWord }}</p>
      </div>
      <div class="barre">
        <form action="/hangman" method="post">
          <input id="inputBox" name="input" type="text" autofocus="autofocus" autocomplete="off">
        </form>
      </div>
      <div class="tries">
        <p> Nombres d'erreurs {{ .GetGameTries }} /10:</p>
      </div>
      <div class="letterused">
        <p>Letters already used: {{ .GetGameUsed }}</p>
      </div>
      {{ end }}

      {{ if eq .IsInGame false}}
      <div>
        <div class="choosediff">choisi ta difficulter</div>
        <form id="formdifficulty" action="/startsologame" method="post">
          <select id="difficulty" name="difficulty">
            <option value="easy">Easy</option>
            <option value="medium">Medium</option>
            <option value="hard">Hard</option>
          </select>
          <br>
          <input id="start" type="submit" value="Play" class="button">
        </form>
        <!-- <form action="/joinpool" method="post">
            <p> Pool id: <p>
            <input id="poolidbox" name="poolidbox" type="text" autocomplete="off">
          </form>-->
      </div>
      {{ end }}
    </div>
    <div class="droite">
      <div class="pendu">
        {{ if eq .GetGameTries 0 }}
        {{ else }}
        <img src="web/{{ .GetGameTries }}.png">
        {{ end }}
      </div>
    </div>
  </div>

</body>