body {
    display: inline;
    background-color: #3b6589;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    font-family: "Kimberley", monospace
}

.word {
    display: flex;
    justify-content: center;
    font-size: 60px;
    font-family: "Kimberley", monospace
}

.barre {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
}

.gauche {
    background-color: blue;
    font-size: 25px;
}

.droite {
    background-color: red;
}

.pendu {
    display: flex;
    justify-content: center;
    font-family: "Kimberley", monospace;
    margin-top: 100px;
}

.gauche,
.droite {
    height: 71vh;
    width: 49%;
    display: inline-block;
    max-width: 50vw;
}

.container {
    display: flex;
    justify-content: center;
}

.tries {
    display: flex;
    justify-content: center;
    font-family: "Kimberley", monospace;
}

.letterused {
    display: flex;
    justify-content: center;
    font-family: "Kimberley", monospace;
}

@font-face {
    font-family: "Kimberley";
    src: url(http://www.princexml.com/fonts/larabie/kimberle.ttf) format("truetype");
}

#inputBox {
    border-style: solid;
    border-color: black;
    border-radius: 5rem;
    width: 150px;
    height: 20px;
    margin-bottom: 15px;
    text-align: center;
}

#username {
    border-style: solid;
    border-color: black;
    border-radius: 5rem;
    width: 150px;
    height: 20px;
    margin-bottom: 15px;
    text-align: center;
}

#password {
    border-style: solid;
    border-color: black;
    border-radius: 5rem;
    width: 150px;
    height: 20px;
    margin-bottom: 15px;
    text-align: center;
}

.login,
.nolog {
    height: 71vh;
    width: 49%;
    display: inline-block;
    max-width: 50vw;
}

.login {
    background-color: white;
    font-size: 25px;
}

.nolog {
    background-color: blue;
}

.compte {
    display: flex;
    justify-content: center;
    font-family: "Kimberley", monospace;
    margin-top: 20px;
}

#name {
    font-size: 20px;
    font-family: "Kimberley", monospace;
    margin-top: 20px;
    margin-bottom: 20px;
}

#psw {
    font-family: "Kimberley", monospace;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px
}

#submit {
    display: flex;
    justify-content: center;
    border-radius: 5rem;
    width: 100px;
    height: 40px;
    margin-top: 15px;
    font-family: "Kimberley", monospace;
}

#formuser {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.invite {
    display: flex;
    justify-content: center;
    font-family: "Kimberley", monospace;
    margin-top: 20px;
    font-size: 25px;
}

#randomeuser {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#withoutnamesubmit {
    display: flex;
    justify-content: center;
    border-radius: 5rem;
    width: 100px;
    height: 40px;
    font-family: "Kimberley", monospace;
    margin-top: 237px;
}

.memewinlose {
    display: flex;
    justify-content: center;
    font-family: "Kimberley", monospace;
}

.wordresult {
    display: flex;
    justify-content: center;
    font-size: 40px;
    font-family: "Kimberley", monospace;
    margin-bottom: 20px;
}

#restartgame {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#restartbouton {
    border-radius: 5rem;
    width: 100px;
    height: 40px;
    font-family: "Kimberley", monospace;
    margin-top: 50px;
}

#difficulty {
    border-radius: 5rem;
    width: 100px;
    height: 40px;
    font-family: "Kimberley", monospace;
    margin-top: 50px;
}

#start {
    border-radius: 5rem;
    width: 100px;
    height: 40px;
    font-family: "Kimberley", monospace;
    margin-top: 50px;
}

#formdifficulty {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.choosediff {
    display: flex;
    justify-content: center;
    font-family: "Kimberley", monospace;
    margin-top: 20px;
    font-size: 25px;
}

#formlogoutstat {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#logoutstatistics {
    border-radius: 5rem;
    width: 80px;
    height: 30px;
    font-family: "Kimberley", monospace;
    margin-top: 10px;
    margin-left: 10px;
}

header {
    display: flex;
    flex-direction: row;
}

#formmainpage {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#mainpage {
    border-radius: 5rem;
    width: 80px;
    height: 30px;
    font-family: "Kimberley", monospace;
    margin-top: 10px;
    margin-left: 10px;
}

.statistics {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    font-family: "Kimberley", monospace;
}

#formscore {
    display: flex;
    justify-content: baseline;
    margin-top: 10px;
}

#scoreboard {
    border-radius: 5rem;
    width: 120px;
    height: 40px;
    font-family: "Kimberley", monospace;
    margin-top: 10px;
    margin-left: 10px;
}

#changescoreboard {
    border-radius: 5rem;
    width: 80px;
    height: 30px;
    font-family: "Kimberley", monospace;
    margin-top: 15px;
    margin-left: 10px;
}

.typescore {
    display: flex;
    justify-content: center;
    font-family: "Kimberley", monospace;
    margin-top: 30px;
    font-size: 50px;
}

.affichescore {
    display: flex;
    justify-content: center;
    font-family: "Kimberley", monospace;
    margin-top: 40px;
    font-size: 20px;
}