body {
    display: inline;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    font-size: 60px;
}

.barre {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
}

.gauche {
    background-color: blue;
}

.droite {
    background-color: red;
}

.gauche,
.droite {
    height: 71vh;
    width: 49%;
    display: inline-block;
    max-width: 50vw;
}

.container {
    display: flex;
    justify-content: center;
}
