body
{
    background-color: black;
}
h1
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    font-size: 55px;
}
div
{
    position: flex;
    color: aqua;
    text-align: center;
}
