<form id="formlogoutstat" action="/" method="get">
  <input id="logoutstatistics" type="submit" value="Page principal" />
</form>
<form id="formlogoutstat" action="/scoreboard" method="get">
    <input id="logoutstatistics" type="submit" value="scoreboard" />
</form><form id="formlogoutstat" action="/logout" method="get">
    <input id="logoutstatistics" type="submit" value="Deconexion" />
</form>
<form id="formlogoutstat" action="/statistics" method="get">
    <input id="logoutstatistics" type="submit" value="statistics" />
</form>