body {
    display: inline;
    background-image:url(/static/assets/background.jpg) ;
    background-attachment: fixed;
    background-position: center;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    font-family: "Kimberley", monospace;
    color: white;
    text-shadow: 0 0 60px rgba(202,228,225,0.8);
}

.word {
    display: flex;
    justify-content: center;
    font-size: 60px;
    font-family: "Kimberley", monospace;
    color: white;
}

.barre {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
}

.gauche {
    opacity: 5;
    font-size: 25px;
    border-radius: 5rem;
    color: white;
    background-color : rgba(0, 0, 0,0.5);
}

.droite {
    background-color : rgba(0, 0, 0,0.5);
    border-radius: 5rem;
    color: white;
}

.pendu {
    display: flex;
    justify-content: center;
    font-family: "Kimberley", monospace;
    margin-top: 100px;
    color: white;
}

.gauche,
.droite {
    height: 71vh;
    width: 49%;
    display: inline-block;
    max-width: 50vw;
}

.container {
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
}

.tries {
    display: flex;
    justify-content: center;
    font-family: "Kimberley", monospace;
    color: white;
}

.letterused {
    display: flex;
    justify-content: center;
    font-family: "Kimberley", monospace;
    color: white;
}

@font-face {
    font-family: "Kimberley";
    src: url(http://www.princexml.com/fonts/larabie/kimberle.ttf) format("truetype");
}

#inputBox {
    border-style: solid;
    border-color: black;
    border-radius: 5rem;
    width: 150px;
    height: 20px;
    margin-bottom: 15px;
    text-align: center;
}

#username {
    border-style: solid;
    border-color: black;
    border-radius: 5rem;
    width: 150px;
    height: 20px;
    margin-bottom: 15px;
    text-align: center;
}

#password {
    border-style: solid;
    border-color: black;
    border-radius: 5rem;
    width: 150px;
    height: 20px;
    margin-bottom: 15px;
    text-align: center;
}

.login,
.nolog {
    height: 71vh;
    width: 49%;
    display: inline-block;
    max-width: 50vw;
    border-radius: 5rem;
    color: white;
}

.login {
    background-color : rgba(0, 0, 0,0.5);
    font-size: 25px;
    border-radius: 5rem;
    color: white;
}

.nolog {
    background-color : rgba(0, 0, 0,0.5);
    color: white;
    text-shadow: 0 0 60px rgba(202,228,225,0.8);
}

.compte {
    display: flex;
    justify-content: center;
    font-family: "Kimberley", monospace;
    margin-top: 20px;
    color: white;
}

#name {
    font-size: 20px;
    font-family: "Kimberley", monospace;
    margin-top: 20px;
    margin-bottom: 20px;
}

#psw {
    font-family: "Kimberley", monospace;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#submit {
    display: flex;
    justify-content: center;
    border-radius: 5rem;
    width: 100px;
    height: 40px;
    margin-top: 15px;
    font-family: "Kimberley", monospace;
}

#formuser {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.invite {
    display: flex;
    justify-content: center;
    font-family: "Kimberley", monospace;
    margin-top: 20px;
    font-size: 25px;
    color: white;
}

#randomeuser {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#withoutnamesubmit {
    display: flex;
    justify-content: center;
    border-radius: 5rem;
    width: 100px;
    height: 40px;
    font-family: "Kimberley", monospace;
    margin-top: 237px;
}

.memewinlose {
    display: flex;
    justify-content: center;
    font-family: "Kimberley", monospace;
    color: white;
}

.wordresult {
    display: flex;
    justify-content: center;
    font-size: 40px;
    font-family: "Kimberley", monospace;
    margin-bottom: 20px;
    color: white;
}

#restartgame {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#restartbouton {
    border-radius: 5rem;
    width: 100px;
    height: 40px;
    font-family: "Kimberley", monospace;
    margin-top: 50px;
}

#difficulty {
    border-radius: 5rem;
    width: 100px;
    height: 40px;
    font-family: "Kimberley", monospace;
    margin-top: 50px;
}

#start {
    border-radius: 5rem;
    width: 100px;
    height: 40px;
    font-family: "Kimberley", monospace;
    margin-top: 50px;
}

#formdifficulty {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.choosediff {
    display: flex;
    justify-content: center;
    font-family: "Kimberley", monospace;
    margin-top: 20px;
    font-size: 25px;
}

#formlogoutstat {
    width: 120px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 30px;
}

#logoutstatistics {
    border-radius: 5rem;
    width: 120px;
    height: 30px;
    font-family: "Kimberley", monospace;
    margin-top: 10px;
}

header {
    display: flex;
    flex-direction: row;
}

#formmainpage {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 30px;
}

#mainpage {
    border-radius: 5rem;
    width: 80px;
    height: 30px;
    font-family: "Kimberley", monospace;
    margin-top: 10px;
    margin-left: 10px;
}

.statistics {
    margin-top: 70px;
    display: flex;
    justify-content: center;
    font-family: "Kimberley", monospace;
    font-size: 25px;
    color: white;
    background-color : rgba(0, 0, 0,0.5);
    margin-left: 30%;
    margin-right: 30%;
    padding: 3%;
    border-radius: 5rem;
}

#formscore {
    display: flex;
    justify-content: baseline;
    margin-top: 10px;
}

#scoreboard {
    border-radius: 5rem;
    width: 120px;
    height: 40px;
    font-family: "Kimberley", monospace;
    margin-top: 10px;
    margin-left: 10px;
}

.scoreboardbutton {
  border-radius: 5rem;
  width: 120px;
  height: 40px;
  font-family: "Kimberley", monospace;
  margin-top: 30px;
  margin-left: 20px;  
}

#changescoreboard {
    border-radius: 5rem;
    width: 80px;
    height: 30px;
    font-family: "Kimberley", monospace;
    margin-top: 15px;
    margin-left: 30px;
}

.typescore {
    display: flex;
    justify-content: center;
    font-family: "Kimberley", monospace;
    margin-top: 30px;
    font-size: 50px;
    text-shadow: 0 0 60px rgba(202,228,225,0.8);
    color: white;
    border-radius: 5rem;
}

.affichescore {
    display: flex;
    justify-content: center;
    font-family: "Kimberley", monospace;
    margin-top: 40px;
    margin-left: 20%;
    margin-right: 20%;
    font-size: 20px;
    border-radius: 5rem;
    padding-bottom: 3%;
    color: white;
    background-color : rgba(0, 0, 0,0.5);
}



/* TESTS ALEX */

@font-face {
    font-family: Cyber;
    src: url("https://assets.codepen.io/605876/Blender-Pro-Bold.otf");
    font-display: swap;
  }
  
  * {
    box-sizing: border-box;

  }
  .cybr-btn {
    --primary: hsl(var(--primary-hue), 85%, calc(var(--primary-lightness, 50) * 1%));
    --shadow-primary: hsl(var(--shadow-primary-hue), 90%, 50%);
    --primary-hue: 245;
    --primary-lightness: 50;
    --color: hsl(0, 0%, 99%);
    --font-size: 26px;
    --shadow-primary-hue: 180;
    --label-size: 9px;
    --shadow-secondary-hue: 60;
    --shadow-secondary: hsl(var(--shadow-secondary-hue), 90%, 60%);
    --clip: polygon(0 0, 100% 0, 100% 100%, 95% 100%, 95% 90%, 85% 90%, 85% 100%, 8% 100%, 0 70%);
    --border: 4px;
    --shimmy-distance: 5;
    --clip-one: polygon(0 2%, 100% 2%, 100% 95%, 95% 95%, 95% 90%, 85% 90%, 85% 95%, 8% 95%, 0 70%);
    --clip-two: polygon(0 78%, 100% 78%, 100% 100%, 95% 100%, 95% 90%, 85% 90%, 85% 100%, 8% 100%, 0 78%);
    --clip-three: polygon(0 44%, 100% 44%, 100% 54%, 95% 54%, 95% 54%, 85% 54%, 85% 54%, 8% 54%, 0 54%);
    --clip-four: polygon(0 0, 100% 0, 100% 0, 95% 0, 95% 0, 85% 0, 85% 0, 8% 0, 0 0);
    --clip-five: polygon(0 0, 100% 0, 100% 0, 95% 0, 95% 0, 85% 0, 85% 0, 8% 0, 0 0);
    --clip-six: polygon(0 40%, 100% 40%, 100% 85%, 95% 85%, 95% 85%, 85% 85%, 85% 85%, 8% 85%, 0 70%);
    --clip-seven: polygon(0 63%, 100% 63%, 100% 80%, 95% 80%, 95% 80%, 85% 80%, 85% 80%, 8% 80%, 0 70%);
    font-family: 'Cyber', sans-serif;
    color: var(--color);
    cursor: pointer;
    background: transparent;
    text-transform: uppercase;
    font-size: var(--font-size);
    outline: transparent;
    letter-spacing: 2px;
    position: relative;
    font-weight: 700;
    border: 0;
    min-width: 300px;
    height: px;
    line-height: 75px;
    transition: background 0.2s;
    margin-top: 20px;
  }
  
  .cybr-btn:hover {
    --primary: hsl(var(--primary-hue), 85%, calc(var(--primary-lightness, 50) * 0.8%));
  }
  .cybr-btn:active {
    --primary: hsl(var(--primary-hue), 85%, calc(var(--primary-lightness, 50) * 0.6%));
  }
  
  .cybr-btn:after,
  .cybr-btn:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    clip-path: var(--clip);
    z-index: -1;
  }
  
  .cybr-btn:before {
    background: var(--shadow-primary);
    transform: translate(var(--border), 0);
  }
  
  .cybr-btn:after {
    background: var(--primary);
  }
  
  .cybr-btn__tag {
    position: absolute;
    padding: 1px 4px;
    letter-spacing: 1px;
    line-height: 1;
    bottom: -5%;
    right: 40%;
    font-weight: normal;
    color: hsl(0, 0%, 0%);
    font-size: var(--label-size);
  }
  
  .cybr-btn__glitch {
    position: absolute;
    top: calc(var(--border) * -1);
    left: calc(var(--border) * -1);
    right: calc(var(--border) * -1);
    bottom: calc(var(--border) * -1);
    background: var(--shadow-primary);
    text-shadow: 2px 2px var(--shadow-primary), -2px -2px var(--shadow-secondary);
    clip-path: var(--clip);
    animation: glitch 2s infinite;
    display: none;
  }
  
  .cybr-btn:hover .cybr-btn__glitch {
    display: block;
  }
  
  .cybr-btn__glitch:before {
    content: '';
    position: absolute;
    top: calc(var(--border) * 1);
    right: calc(var(--border) * 1);
    bottom: calc(var(--border) * 1);
    left: calc(var(--border) * 1);
    clip-path: var(--clip);
    background: var(--primary);
    z-index: -1;
  }
  
  @keyframes glitch {
    0% {
      clip-path: var(--clip-one);
    }
    2%, 8% {
      clip-path: var(--clip-two);
      transform: translate(calc(var(--shimmy-distance) * -1%), 0);
    }
    6% {
      clip-path: var(--clip-two);
      transform: translate(calc(var(--shimmy-distance) * 1%), 0);
    }
    9% {
      clip-path: var(--clip-two);
      transform: translate(0, 0);
    }
    10% {
      clip-path: var(--clip-three);
      transform: translate(calc(var(--shimmy-distance) * 1%), 0);
    }
    13% {
      clip-path: var(--clip-three);
      transform: translate(0, 0);
    }
    14%, 21% {
      clip-path: var(--clip-four);
      transform: translate(calc(var(--shimmy-distance) * 1%), 0);
    }
    25% {
      clip-path: var(--clip-five);
      transform: translate(calc(var(--shimmy-distance) * 1%), 0);
    }
    30% {
      clip-path: var(--clip-five);
      transform: translate(calc(var(--shimmy-distance) * -1%), 0);
    }
    35%, 45% {
      clip-path: var(--clip-six);
      transform: translate(calc(var(--shimmy-distance) * -1%));
    }
    40% {
      clip-path: var(--clip-six);
      transform: translate(calc(var(--shimmy-distance) * 1%));
    }
    50% {
      clip-path: var(--clip-six);
      transform: translate(0, 0);
    }
    55% {
      clip-path: var(--clip-seven);
      transform: translate(calc(var(--shimmy-distance) * 1%), 0);
    }
    60% {
      clip-path: var(--clip-seven);
      transform: translate(0, 0);
    }
    31%, 61%, 100% {
      clip-path: var(--clip-four);
    }
  }
  
  .cybr-btn:nth-of-type(2) {
    --primary-hue: 260;
  }

  .btn {
    letter-spacing: 0.1em;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    line-height: 45px;
    max-width: 160px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
  }
  .btn:hover {
    text-decoration: none;
  }
  
  /*btn_background*/
  .effect04 {
    --uismLinkDisplay: var(--smLinkDisplay, inline-flex);
    display: var(--uismLinkDisplay);
    color: #000;
    outline: solid  2px #000;
    position: relative;
    transition-duration: 0.4s;
    overflow: hidden;
  }
  
  .effect04::before,
  .effect04 span{
      margin: 0 auto;
      transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
      transition-duration: 0.4s;
  }
  
  /* 文字1を上に */
  .effect04:hover{
  
    background-color: #000;
  }
  
  /* HOVERしたら文字1を上に */
  .effect04:hover span{
    -webkit-transform: translateY(-400%) scale(-0.1,20);
            transform: translateY(-400%) scale(-0.1,20);
  }
  
  /*文字2*/
  .effect04::before{
    content: attr(data-sm-link-text);
      color: #FFF;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    -webkit-transform: translateY(500%) scale(-0.1,20);
            transform: translateY(500%) scale(-0.1,20);
  }
  
  /* HOVERしたら文字2を上に */
  .effect04:hover::before{
    letter-spacing: 0.05em;
    -webkit-transform: translateY(0) scale(1,1);
            transform: translateY(0) scale(1,1);
  }
  #tamerelapute {
    padding-top: 10px;
  }