body {
    display: inline;
    background-image:url(/static/assets/background.jpg) ;
    background-attachment: fixed;
    background-position: center;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    font-family: "Kimberley", monospace;
    color: white;
    text-shadow: 0 0 60px rgba(202,228,225,0.8);
}

.word {
    display: flex;
    justify-content: center;
    font-size: 60px;
    font-family: "Kimberley", monospace;
    color: white;
}

.barre {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
}

.gauche {
    opacity: 5;
    font-size: 25px;
    border-radius: 5rem;
    color: white;
    background-color : rgba(0, 0, 0,0.5);
}

.droite {
    background-color : rgba(0, 0, 0,0.5);
    border-radius: 5rem;
    color: white;
}

.pendu {
    display: flex;
    justify-content: center;
    font-family: "Kimberley", monospace;
    margin-top: 100px;
    color: white;
}

.gauche,
.droite {
    height: 71vh;
    width: 49%;
    display: inline-block;
    max-width: 50vw;
}

.container {
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
}

.tries {
    display: flex;
    justify-content: center;
    font-family: "Kimberley", monospace;
    color: white;
}

.letterused {
    display: flex;
    justify-content: center;
    font-family: "Kimberley", monospace;
    color: white;
}

@font-face {
    font-family: "Kimberley";
    src: url(http://www.princexml.com/fonts/larabie/kimberle.ttf) format("truetype");
}

#inputBox {
    border-style: solid;
    border-color: black;
    border-radius: 5rem;
    width: 150px;
    height: 20px;
    margin-bottom: 15px;
    text-align: center;
}

#username {
    border-style: solid;
    border-color: black;
    border-radius: 5rem;
    width: 150px;
    height: 20px;
    margin-bottom: 15px;
    text-align: center;
}

#password {
    border-style: solid;
    border-color: black;
    border-radius: 5rem;
    width: 150px;
    height: 20px;
    margin-bottom: 15px;
    text-align: center;
}

.login,
.nolog {
    height: 71vh;
    width: 49%;
    display: inline-block;
    max-width: 50vw;
    border-radius: 5rem;
    color: white;
}

.login {
    background-color : rgba(0, 0, 0,0.5);
    font-size: 25px;
    border-radius: 5rem;
    color: white;
}

.nolog {
    background-color : rgba(0, 0, 0,0.5);
    color: white;
    text-shadow: 0 0 60px rgba(202,228,225,0.8);
}

.compte {
    display: flex;
    justify-content: center;
    font-family: "Kimberley", monospace;
    margin-top: 20px;
    color: white;
}

#name {
    font-size: 20px;
    font-family: "Kimberley", monospace;
    margin-top: 20px;
    margin-bottom: 20px;
}

#psw {
    font-family: "Kimberley", monospace;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#submit {
    display: flex;
    justify-content: center;
    border-radius: 5rem;
    width: 100px;
    height: 40px;
    margin-top: 15px;
    font-family: "Kimberley", monospace;
}

#formuser {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.invite {
    display: flex;
    justify-content: center;
    font-family: "Kimberley", monospace;
    margin-top: 20px;
    font-size: 25px;
    color: white;
}

#randomeuser {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#withoutnamesubmit {
    display: flex;
    justify-content: center;
    border-radius: 5rem;
    width: 100px;
    height: 40px;
    font-family: "Kimberley", monospace;
    margin-top: 237px;
}

.memewinlose {
    display: flex;
    justify-content: center;
    font-family: "Kimberley", monospace;
    color: white;
}

.wordresult {
    display: flex;
    justify-content: center;
    font-size: 40px;
    font-family: "Kimberley", monospace;
    margin-bottom: 20px;
    color: white;
}

#restartgame {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#restartbouton {
    border-radius: 5rem;
    width: 100px;
    height: 40px;
    font-family: "Kimberley", monospace;
    margin-top: 50px;
}

#difficulty {
    border-radius: 5rem;
    width: 100px;
    height: 40px;
    font-family: "Kimberley", monospace;
    margin-top: 50px;
}

#start {
    border-radius: 5rem;
    width: 100px;
    height: 40px;
    font-family: "Kimberley", monospace;
    margin-top: 50px;
}

#formdifficulty {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.choosediff {
    display: flex;
    justify-content: center;
    font-family: "Kimberley", monospace;
    margin-top: 20px;
    font-size: 25px;
}

#formlogoutstat {
    width: 120px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#logoutstatistics {
    border-radius: 5rem;
    width: 120px;
    height: 30px;
    font-family: "Kimberley", monospace;
    margin-top: 10px;
    margin-left: 10px;
}

header {
    display: flex;
    flex-direction: row;
}

#formmainpage {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#mainpage {
    border-radius: 5rem;
    width: 80px;
    height: 30px;
    font-family: "Kimberley", monospace;
    margin-top: 10px;
    margin-left: 10px;
}

.statistics {
    margin-top: 70px;
    display: flex;
    justify-content: center;
    font-family: "Kimberley", monospace;
    font-size: 25px;
    color: white;
    background-color : rgba(0, 0, 0,0.5);
    margin-left: 30%;
    margin-right: 30%;
    padding: 3%;
    border-radius: 5rem;
}

#formscore {
    display: flex;
    justify-content: baseline;
    margin-top: 10px;
}

#scoreboard {
    border-radius: 5rem;
    width: 120px;
    height: 40px;
    font-family: "Kimberley", monospace;
    margin-top: 10px;
    margin-left: 10px;
}

#changescoreboard {
    border-radius: 5rem;
    width: 80px;
    height: 30px;
    font-family: "Kimberley", monospace;
    margin-top: 15px;
    margin-left: 30px;
}

.typescore {
    display: flex;
    justify-content: center;
    font-family: "Kimberley", monospace;
    margin-top: 30px;
    font-size: 50px;
    text-shadow: 0 0 60px rgba(202,228,225,0.8);
    color: white;
    border-radius: 5rem;
}

.affichescore {
    display: flex;
    justify-content: center;
    font-family: "Kimberley", monospace;
    margin-top: 40px;
    margin-left: 20%;
    margin-right: 20%;
    font-size: 20px;
    border-radius: 5rem;
    padding-bottom: 3%;
    color: white;
    background-color : rgba(0, 0, 0,0.5);
}