<!DOCTYPE html>

<html>

<head>

  <title>Hangman - Team Absenteisme</title>
  <link rel="stylesheet" href="static/css/style.css">
</head>

<header>
  <form id="formlogoutstat" action="/logout" method="get">
    <input id="logoutstatistics" type="submit" value="Se déconnecter" />
  </form>
  </foaccess not allowed source:access not allowed source:rm>
  <form id="formlogoutstat" action="/statistics" method="get">
    <input id="logoutstatistics" type="submit" value="Statistiques" />
  </form>
  <form id="formlogoutstat" action="/scoreboard" method="get">
    <input id="logoutstatistics" type="submit" value="Scoreboard" />
  </form>
</header>

<body>
  <h1> You Lose ! </h1>
  <div class="wordresult"> the word was {{ .GetGameToFind }} !</div>
  <div class="memewinlose"><img src="https://thumbs.gfycat.com/BlankSorrowfulGermanspaniel-max-1mb.gif"></div>
  <form id="restartgame" action="/restartsologame" method="post">
    
      {{ .RestartButtonFragment }}
      <div class="difficultyselection">
        <div>
          <input type="radio" id="difficulty" name="difficulty" value="easy"
          {{ if eq .GameMode "easy" }} checked {{end}}>
          <label for="difficulty">FACILE</label>
        </div>
        <div>
          <input type="radio" id="difficulty" name="difficulty" value="medium"
          {{ if eq .GameMode "medium" }} checked {{end}}>
          <label for="difficulty">MOYEN</label>
        </div>
        <div>
          <input type="radio" id="difficulty" name="difficulty" value="hard"
          {{ if eq .GameMode "hard" }} checked {{end}}>
          <label for="difficulty">DIFFICILE</label>
        </div>
    </div>

  </form>
</body>

</html>