<!DOCTYPE html>
<html lang="fr">


<head>
  <meta charset="utf-8">
  <title>Hangman - Team Absenteisme</title>
  <link rel="stylesheet" href="static/css/style.css">
</head>
<header>
  {{ .NavigatorFragment }}
</header>

<body>
  <div class="container">
     <div class="gauche">
          <form class="scoreboardbutton" action="/scoreboard" method="post">
            <input  name="sb_type" id="sb_type" type="text" value ="sb_letter" hidden/>
            <button class="btn effect04" data-sm-link-text="CLICK" target="_blank"><span>TOP LETTRES</span></button>
          </form>
          <form class="scoreboardbutton" action="/scoreboard" method="post">
            <input  name="sb_type" id="sb_type" type="text" value ="sb_words" hidden/>
            <button class="btn effect04" data-sm-link-text="CLICK" target="_blank"><span>TOP MOTS</span></button>
          </form>
          <form class="scoreboardbutton" action="/scoreboard" method="post">
            <input  name="sb_type" id="sb_type" type="text" value ="sb_loose" hidden/>
            <button class="btn effect04" data-sm-link-text="CLICK" target="_blank"><span>TOP PERTES</span></button>
          </form>
          <form class="scoreboardbutton" action="/scoreboard" method="post">
            <input  name="sb_type" id="sb_type" type="text" value ="sb_win" hidden/>
            <button class="btn effect04" data-sm-link-text="CLICK" target="_blank"><span>TOP GAGNER</span></button>
          </form>
          <form class="scoreboardbutton" action="/scoreboard" method="post">
            <input  name="sb_type" id="sb_type" type="text" value ="sb_points" hidden/>
            <button class="btn effect04" data-sm-link-text="CLICK" target="_blank"><span>TOP POINTS</span></button>
          </form>
    </div>
    <div class="droite">
      <div class="typescore"> 
        <h1> {{ .SB_NAME }} </h1> 
      </div>
      <div class="affichescore"> {{ range .SB_USERS }}<br>
      {{ . }}
      {{ end }}
    </div>
    {{ if eq .IsLogin true }} <p> Tu est placer: # {{ .SB_USER_PLACE }}  </p> {{end}}
    </div>
  </div>
</body>

</html>