<!DOCTYPE html>
<html lang="fr">


<head>
    <meta charset="utf-8">
    <title>Hangman - Team Absenteisme</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>

<header>
    <form id="formlogoutstat" action="/logout" method="get">
        <input id="logoutstatistics" type="submit" value="Retour" />
    </form>
    <form id="formmainpage" action="/" method="get">
        <input id="mainpage" type="submit" value="Accueil" />
    </form>
    <form id="formlogoutstat" action="/scoreboard" method="get">
        <input id="logoutstatistics" type="submit" value="Scoreboard" />
    </form>
</header>


<body>
    <h1>Statistiques</h1>
    <div class="statistics">
        Connecté en tant que {{ .Username }}
        <br><br>
        Parties joueés : {{ .Played }} parties
        <br><br>
        Nombre de victoires : {{ .Wins }} parties
        <br><br>
        Nombre défaites : {{ .Loose }} parties
        <br><br>
        Nombre de lettres trouvées : {{ .Letters }} lettres
        <br><br>
        Nombre de mots trouvés : {{ .Words }} mots
        <br><br>
        Ratio de victoires : {{ .WinRatio}} victoires
        <br><br>
        Ratio de défaites : {{ .LooseRatio }} défaites
    </div>
</body>

</html>