<!DOCTYPE html>
<html lang="fr">


<head>
    <meta charset="utf-8">
    <title>Hangman - Team Absenteisme</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>

<header>
    <form id="formlogoutstat" action="/logout" method="get">
        <input id="logoutstatistics" type="submit" value="Back" />
    </form>
    <form id="formmainpage" action="/" method="get">
        <input id="mainpage" type="submit" value="main page" />
    </form>
    <form id="formlogoutstat" action="/scoreboard" method="get">
        <input id="logoutstatistics" type="submit" value="Scoreboard" />
    </form>
</header>


<body>
    <h1>statistics</h1>
    <div class="statistics">
        Logged as: {{ .Username }}
        <br><br>
        Game played {{ .Played }}
        <br><br>
        Win amount {{ .Wins }}
        <br><br>
        Loose amount {{ .Loose }}
        <br><br>
        Letter found {{ .Letters }}
        <br><br>
        Words found {{ .Words }}
        <br><br>
        Win ratio {{ .WinRatio}}
        <br><br>
        Loose ratio {{ .LooseRatio }}
    </div>
</body>

</html>